@model sms.Models.ViewModels.ProgStreamViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ProgStream</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProgrammeId" class="control-label"></label>
                <select asp-for="ProgrammeId" class ="form-control" asp-items="ViewBag.ProgrammeId">
                    <option value="">-- Select Programme --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="StreamsId" class="control-label"></label>
                <select asp-for="StreamsId" class ="form-control" asp-items="ViewBag.StreamsId">
                    <option value="">-- Select Stream --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentId" class="control-label"></label>
                <select asp-for="DepartmentId" class ="form-control" asp-items="ViewBag.DepartmentId">
                    <option value="">-- Select Department --</option>
                </select>
            </div>
            @* <div class="form-group">
                <label asp-for="ProgStreamName" class="control-label"></label>
                <input asp-for="ProgStreamName" class="form-control" />
                <span asp-validation-for="ProgStreamName" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="GradingSystemId" class="control-label"></label>
                <select asp-for="GradingSystemId" class ="form-control" asp-items="ViewBag.GradingSystemId">
                    <option value="">-- Select Grading System --</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
