@model sms.Models.CourseRegistration

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CourseRegistration</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" name = "StudentId" value="@ViewBag.SpecificStudentId">
            <input type="hidden" asp-for="Score1">
            <input type="hidden" asp-for="Score2">
            <div class="form-group">
                <label asp-for="CourseId" class="control-label"></label>
                <select asp-for="CourseId" class="form-control" asp-items="ViewBag.CourseId"></select>
                <span asp-validation-for="CourseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcadYearId" class="control-label"></label>
                <select asp-for="AcadYearId" class="form-control" asp-items="ViewBag.AcadYearId"></select>
                <span asp-validation-for="AcadYearId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SemesterId" class="control-label"></label>
                <select asp-for="SemesterId" class="form-control" asp-items="ViewBag.SemesterId"></select>
                <span asp-validation-for="SemesterId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearLevelId" class="control-label"></label>
                <select asp-for="YearLevelId" class="form-control" asp-items="ViewBag.YearLevelId"></select>
                <span asp-validation-for="YearLevelId" class="text-danger"></span>
            </div>
           

            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index" asp-route-id="@ViewBag.Id">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
