@model sms.Models.CourseAssignment

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CourseAssignment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" name="InstructorId" value="@ViewBag.SpecificInstructorId">
            @* <div class="form-group">
                <label asp-for="InstructorId" class="control-label"></label>
                <select asp-for="InstructorId" class="form-control" asp-items="ViewBag.InstructorId">
                    <option value="">-- Select Instructor --</option>
                </select>
                <span asp-validation-for="InstructorId" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="CourseId" class="control-label"></label>
                <select asp-for="CourseId" class="form-control" asp-items="ViewBag.CourseId">
                    <option value="">-- Select Course --</option>
                </select>
                <span asp-validation-for="CourseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcadYearId" class="control-label"></label>
                <select asp-for="AcadYearId" class="form-control" asp-items="ViewBag.AcadYearId">
                    <option value="">-- Select Academic Year --</option>
                </select>
                <span asp-validation-for="AcadYearId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SemesterId" class="control-label"></label>
                <select asp-for="SemesterId" class="form-control" asp-items="ViewBag.SemesterId">
                    <option value="">-- Select Semester --</option>
                </select>
                <span asp-validation-for="SemesterId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@ViewBag.Id">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
