<h4>
    Bill For Academic Year Not Ready For Display Yet
</h4>  

<div>
    <a asp-controller="Payments" asp-action="Index" asp-route-id="@ViewBag.Id">Transactions</a>
</div>
<div>
    <a asp-action="Index">Back To List</a>
</div>
